nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #6495ED;
}
nav .navbar-brand .red
{
    color: #FF7F50;
}
nav .navbar-brand .yellow
{
    color: #ADD8E6;
}
nav .navbar-brand .green
{
    color: #00CED1;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.summary
{
    padding: 10px;
}

.body
{
    background-image: url("/templates/mountain.jpg");
    background-size: cover;

}
.headerrow
{
    font-weight: bold;
    border-top-style: solid;
    border-bottom-style: solid;
}

td
{
    column-width: 200px;
    padding: 8px;
}
.total
{
    font-weight: bold;
}

.binary0
{
    background-color: red;
}

.binary1
{
    background-color: green;
}

.binary2
{
    background-color: white;
}