{% extends "layout.html" %}

{% block title %}
    Log {{ habitName }}
{% endblock %}

{% block main %}
    <h2>Goal 1{{ name }}!</h2><br>
    <p>How on top of your goal have you been?</p>
    <div class="month">
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>August<br><span style="font-size:18px">2017</span></li>
  </ul>
</div>

    <table style="width:100%">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</table>

    <form action="/enter_data_1" method="post">

        <table>
            <tr></tr>
                    <option>Yes! :)</option>
                    <option>No :(</option>

            </select>
        <button class="btn btn-primary" type="submit">Track!</button>

    </form>
{% endblock %}