{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <form method="post" action="/quotes">

				<p></p>
				<p>Which mood quote do you want:</p>
				<input type="radio" name="mood" value="happy" required> Happy<br>
				<input type="radio" name="mood" value="sad"> Sad<br>
				<input type="radio" name="mood" value="mad"> Mad<br>
				<input type="radio" name="mood" value="stressed"> Stressed<br>
				<input type="radio" name="mood" value="in love"> In Love<br>
				<!--  <input type="radio" name="mood" value="stressed"> Stressed<br>-->
				<!--<input type="radio" name="mood" value="in love"> In Love<br>-->
				<p></p>

				<input type="submit" value="Submit">

			</form>


{% endblock %}